# streamlit==1.45.0
# pandas==2.3.2
# scikit-learn==1.6.1
# nltk==3.9.1
# joblib==1.4.2
# requests==2.32.3
# emoji==2.14.1


streamlit
pandas
scikit-learn
nltk
joblib
requests
emoji
fuzzywuzzy
python-levenshtein
python-dotenv
pytest
